#profilePicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#name {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    color: white;
}

#info,
td,
th {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(17, 17, 17, 1);
    color: white;
}

#info {
    width: 90%;
    border-spacing: 15px;

}

td,
th {
    border: 2px solid black;


}

#Projects,
#Languages {
    width: 45%;
    vertical-align: top;
    background-color: rgba(11, 11, 17, 0);
}



#aboutMe {
    border: 0px;
    border-spacing: 5px;
    background-color: rgba(11, 11, 11, 0);
}

#aboutMeText,
#languagesBars,
ul,
li {
    font-size: 25px;
    line-height: 1.5;
}

h2,
h3 {
    font-size: 35px;
}

#C\#progress,
#JavaProgress,
#HTMLCSSProgress {
    width: 75%;
    height: 15px;
    appearance: none;
    outline: 0px solid black;
    

}

#C\#progress::-webkit-progress-bar,
#JavaProgress::-webkit-progress-bar,
#HTMLCSSProgress::-webkit-progress-bar {
    background-color: #1f1f1f;
}

#C\#progress::-webkit-progress-value,
#JavaProgress::-webkit-progress-value,
#HTMLCSSProgress::-webkit-progress-value {
    background-color: #fff;
}

#projectsTableName,
#projectsTableDesc,#\- {
    border: 0px solid black;
    font-size: 25px;
    border-radius: 0px;
    background-color: rgba(11, 11, 11, 0);

}

#projectsTableDesc {
    width: 80%;
    border-spacing: 0px;

}

#projectsTableName {
    width: 20%;
    border-spacing: 0px;
}

#languagesBars {
    line-height: 5;
}