<!DOCTYPE html>
<html lang="en" data-theme="heckerwithahat">

<head>
    <title>HeckerWithAHat</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="background.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="heckerwithahattheme.css" />
</head>

<header class="sticky top-0">
    <div class="navbar bg-neutral shadow-lg text-neutral-content">
        <div class="container mx-auto">
            <div class="flex-1 justify-start">
                <a href="/" class="text-lg font-bold">HeckerWithAHat</a>
            </div>
            <ul class="menu menu-horizontal rounded-box">
                <li><a href="/">Home</a></li>
                <li><a href="projects">Projects</a></li>
                <li><a href="languages">Languages</a></li>
                <li><a href="contact" class="underline font-bold">Contacts</a></li>
            </ul>
        </div>
    </div>
</header>

<body>
    <div class="flex flex-col text-center justify-center items-center space-y-7 my-5">
        <img src="media/profile_picture.png" alt="My Profile Picture" width="250" height="250" class="rounded-full">
        <h1 class="text-7xl px-72 justify-center my-auto text-neutral-content">HeckerWithAHat</h1>
    </div>
    <div class="card bg-neutral mx-24 border-4 border-black">
        <div class="card-body">
            <div class="card-title text-center justify-center text-5xl text-neutral-content">Contact Me</div>
            <div class="card-body text-center justify-center text-2xl text-neutral-content underline">
                <a href="discord://-/users/727603391550718042">Discord: heckerwithahat</a>
                <a href="https://twitter.com/heckerwithahat">Twitter: @HeckerWithAHat</a>
                <a href="https://github.com/HeckerWithAHat">GitHub: HeckerWithAHat</a>
                <a href="https://www.youtube.com/channel/UC862SDV2MtCa8bqK37gAiSQ">YouTube:
                    HeckerWithAHat</a>
                <a href="https://steamcommunity.com/id/HeckerWithAHat/">Steam: HeckerWithAHat</a>
                <a href="https://www.twitch.tv/heckerwithahat">Twitch: heckerwithahat</a>
            </div>
        </div>
    </div>
</body>

</html>