<!DOCTYPE html>
<html lang="en" data-theme="heckerwithahat">

<head>
    <title>HeckerWithAHat</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="background.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="heckerwithahattheme.css" />
</head>

<header class="sticky top-0">
    <div class="navbar bg-neutral shadow-lg text-neutral-content">
        <div class="container mx-auto">
            <div class="flex-1 justify-start">
                <a href="/" class="text-lg font-bold">HeckerWithAHat</a>
            </div>
            <ul class="menu menu-horizontal rounded-box">
                <li><a href="/">Home</a></li>
                <li><a href="projects" class="underline font-bold">Projects</a></li>
                <li><a href="languages">Languages</a></li>
                <li><a href="contact">Contacts</a></li>
            </ul>
        </div>
    </div>
</header>

<body>
    <div class="flex flex-col text-center justify-center items-center space-y-7 my-5">
        <img src="media/profile_picture.png" alt="My Profile Picture" width="250" height="250" class="rounded-full">
        <h1 class="text-7xl px-72 justify-center my-auto text-neutral-content">HeckerWithAHat</h1>
    </div>
    <div class="card bg-neutral mx-24 border-4 border-black">
        <div class="card-body">
            <div class="card-title text-center justify-center text-5xl text-neutral-content">Projects</div>
            <div class="card-body text-center justify-center text-2xl text-neutral-content">
                <!-- 
                                TODO:
                                    Add a list of projects
                                    Use GitHub API to get the project contributors and their profile pics
                                    Add a link to the project
                                    Add a description of the project
                                    Add project status
                                    Projects:
                                        Troll SMP
                                        Immune SMP
                                        Infuse Z
                                        Armor SMP
                                        Sprite SMP
                                        Submate
                                        MyMeals
                                        DependGuard
                                        Kumite Simulator
                                        PermutationHeaven
                             -->
            </div>
        </div>
    </div>
</body>

</html>