<!DOCTYPE html>
<html lang="en" data-theme="heckerwithahat">

<head>
    <title>HeckerWithAHat</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="background.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="heckerwithahattheme.css" />
</head>

<header class="sticky top-0">
    <div class="navbar bg-neutral shadow-lg text-neutral-content">
        <div class="container mx-auto">
            <div class="flex-1 justify-start">
                <a href="/" class="text-lg font-bold">HeckerWithAHat</a>
            </div>
            <ul class="menu menu-horizontal rounded-box">
                <li><a href="/">Home</a></li>
                <li><a href="projects" class="underline font-bold">Projects</a></li>
                <li><a href="languages">Languages</a></li>
                <li><a href="contact">Contacts</a></li>
            </ul>
        </div>
    </div>
</header>

<body>
    <div class="flex flex-col text-center justify-center items-center space-y-7 my-5">
        <img src="media/profile_picture.png" alt="My Profile Picture" width="250" height="250" class="rounded-full">
        <h1 class="text-7xl px-72 justify-center my-auto text-neutral-content">HeckerWithAHat</h1>
    </div>
    <div class="card bg-neutral mx-24 border-4 border-black">
        <div class="card-body">
            <div class="card-title text-center justify-center text-5xl text-neutral-content">Projects</div>
            <div class="card-body text-center text-neutral-content flex flex-row flex-wrap justify-center gap-0">
                <div class="card w-full sm:w-1/2 lg:w-1/3 gap-0 bg-primary border-4 border-neutral">
                    <div class="card-body">
                        <div class="card-title">Troll SMP</div>
                        <p>A Minecraft SMP Server owned by Asunqe With a plugin Developed by me.</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-primary" onclick="window.open('https://github.com/HeckerWithAHat/TrollSMP')">View Github</button>
                            <button class="btn btn-primary">See More</button>
                        </div>
                    </div>
                </div>
                <div class="card w-full sm:w-1/2 lg:w-1/3 gap-0 bg-primary border-4 border-neutral">
                    <div class="card-body">
                        <div class="card-title">Immune SMP</div>
                        <p>A Minecraft SMP Server owned by SkillettYeet With a plugin Developed by me.</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-primary" onclick="window.open('https://github.com/HeckerWithAHat/ImmuneSMP')">View Github</button>
                            <button class="btn btn-primary">See More</button>
                        </div>
                    </div>
                </div>
                <div class="card w-full sm:w-1/2 lg:w-1/3 gap-0 bg-primary border-4 border-neutral">
                    <div class="card-body">
                        <div class="card-title">StatsOverAll</div>
                        <p>A small plugin developed by me allowing players to upgrade their player's stats. Used for Infuse Z</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-primary" onclick="window.open('https://github.com/HeckerWithAHat/StatsOverAll')">View Github</button>
                            <button class="btn btn-primary">See More</button>
                        </div>
                    </div>
                </div>
                <div class="card w-full sm:w-1/2 lg:w-1/3 gap-0 bg-primary border-4 border-neutral">
                    <div class="card-body">
                        <div class="card-title">Sprite SMP</div>
                        <p>A Minecraft SMP Server owned by BenjiSenji With a plugin Developed by me.</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-primary" onclick="window.open('https://github.com/HeckerWithAHat/SpriteSMP')">View Github</button>
                            <button class="btn btn-primary">See More</button>
                        </div>
                    </div>
                </div>
                <div class="card w-full sm:w-1/2 lg:w-1/3 gap-0 bg-primary border-4 border-neutral">
                    <div class="card-body">
                        <div class="card-title">DependGuard</div>
                        <p>A powerful tool designed to enhance the security of your GitHub projects by going beyond just analyzing dependencies. Built for CrackTheCode Concordia 2024</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-primary" onclick="window.open('https://github.com/thehomeworkclub/DependGuard')">View Github</button>
                            <button class="btn btn-primary">See More</button>
                        </div>
                    </div>
                </div>
                <div class="card w-full sm:w-1/2 lg:w-1/3 gap-0 bg-primary border-4 border-neutral">
                    <div class="card-body">
                        <div class="card-title">My Meals</div>
                        <p>A website for users to find recipes to easy meals that suits their time, dietary, and resource constraints. Built for HackOC 2023</p>
                        <div class="card-actions justify-between">
                            <button class="btn btn-primary" onclick="window.open('https://github.com/primitt/hackathon')">View Github</button>
                            <button class="btn btn-primary">See More</button>
                        </div>
                    </div>
                </div>
                <div class="card w-full sm:w-1/2 lg:w-1/3 gap-0 bg-primary border-4 border-neutral">
                    <div class="card-body">
                        <div class="card-title">Submate</div>
                        <p>A platform for teachers to check for AI through advanced and unique techniques</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary">See More</button>
                        </div>
                    </div>
                </div>
                <div class="card w-full sm:w-1/2 lg:w-1/3 gap-0 bg-primary border-4 border-neutral">
                    <div class="card-body">
                        <div class="card-title">Kumite Simulator</div>
                        <p>A VR fighting game using realistic fighting rather than button input</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary">See More</button>
                        </div>
                    </div>
                </div>
                <div class="card w-full sm:w-1/2 lg:w-1/3 gap-0 bg-primary border-4 border-neutral">
                    <div class="card-body">
                        <div class="card-title">Permutation Heaven</div>
                        <p>A PC RPG Game revolving around a unique world type</p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary">See More</button>
                        </div>
                    </div>
                </div>
                <!-- 
                                TODO:
                                    ~~Add a list of projects~~
                                    Use GitHub API to get the project contributors and their profile pics
                                    Add a link to the project
                                    ~~Add a description of the project~~
                                    Add project status
                                    Projects:
                                        Troll SMP
                                        Immune SMP
                                        Infuse Z
                                        Armor SMP
                                        Sprite SMP
                                        Submate
                                        MyMeals
                                        DependGuard
                                        Kumite Simulator
                                        PermutationHeaven
                             -->

            </div>
        </div>
    </div>
</body>
<script>
    
</script>
</html>